<h1>completed</h1>
<table style="border: 1px solid black;">
  <thead>
  <tr>
    <td>descr</td>
    <td>millis</td>
    <td>action</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let reminder of reminders$ | async; index as $index;">
    <td>{{reminder.description}}</td>
    <!--
    <td>{{reminder.latitude}}</td>
    <td>{{reminder.longitude}}</td>
    -->
    <td>{{reminder.timestamp}}</td>
    <td>
      <button (click)="reminderUnCompleteActionRequest(reminder)">mark incomplete</button>
    </td>
  </tr>
  </tbody>
</table>
