<h1>deleted items</h1>
<table>
  <thead>
  <tr>
    <td>descr</td>
    <td>millis</td>
    <td>action</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let reminder of reminders$ | async; index as $index;">
    <td>{{reminder.description}}</td>
    <!--
    <td>{{reminder.latitude}}</td>
    <td>{{reminder.longitude}}</td>
    -->
    <td>{{reminder.timestamp}}</td>
    <td *ngIf="confirmIndex!==$index">
      <button (click)="reminderUnRemoveActionRequest($event ,$index)">restore</button>
    </td>
    <td *ngIf="confirmIndex===$index">Are you sure?
      <button (click)="reminderUnRemoveActionRequestConfirm($event, reminder)">confirm</button>
      <button (click)="reminderUnRemoveActionRequestCancel()">cancel</button>
    </td>
  </tr>
  </tbody>
</table>
