<h1>deleted</h1>
<table style="border: 1px solid black;">
  <thead>
  <tr>
    <td>descr</td>
    <td>millis</td>
    <td>action</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let reminder of reminders$ | async; index as $index;">
    <td>{{reminder.description}}</td>
    <td>{{reminder.timestamp}}</td>
    <td *ngIf="confirmIndex1!==$index">
      <button (click)="reminderUnRemoveActionRequest($event ,reminder)">restore</button>
      <button (click)="reminderEradicateActionRequest($event ,$index)">perm delete</button>
    </td>
    <td *ngIf="confirmIndex1===$index">Delete forever?
      <button (click)="reminderEradicateActionRequestConfirm($event, reminder)">confirm</button>
      <button (click)="reminderEradicateActionRequestCancel()">cancel</button>
    </td>
  </tr>
  </tbody>
</table>
