<h1>nearby</h1>
<table style="border: 1px solid black;">
  <thead>
  <tr>
    <td>descr</td>
    <td>prx_dst</td>
    <td>perimeter</td>
    <td>entered</td>
    <td>complete</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let reminder of reminders$ | async; index as $index;">
    <td>{{reminder.reminder.description}}</td>
    <td>{{reminder.distance}}</td>
    <td>{{reminder.perimeter}}</td>
    <td>{{reminder.entered}}</td>
    <button (click)="reminderCompleteActionRequest(reminder)">complete</button>
  </tr>
  </tbody>
</table>
