<nav>
  <ul>
    <li>
      <button (click)="clearAllData()">clear data</button>
    </li>
    <li>
      <button routerLink="list">list</button>
    </li>
    <li>
      <button routerLink="create">create</button>
    </li>
    <li>
      <button routerLink="completed">completed</button>
    </li>
    <li>
      <button routerLink="deleted">deleted</button>
    </li>
    <li>
      <button routerLink="proximity">nearby</button>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
<div style="height:200px; overflow-y: scroll;overflow-x: hidden">
  <p *ngFor="let log of logs$ | async; index as $index;">
    {{log}}
  </p>
</div>
